<%- include('parts/header.ejs') %>


    <!-- body -->
    <section class="main-body">
        <div>
            <div class="body">
                <div class="jurn">
                    <h3>To Blog</h3>
                    <span><a href="/login">login</a></span>
                </div>
            </div>
        </div>
    </section>


    <%- include('parts/footer.ejs') %>