<%- include('parts/header.html') %>


    <!-- body -->
    <section class="mainbody">
        <div>
            <p>Hii! I am Sunny</p>
            <p>This is my self created webpage</p>
            <p>This is home page!</p>
        </div>
    </section>


    <%- include('parts/footer.html') %>