<%- include('parts/header.html') %>


    <!-- home -->
    <section class="main-body">
        <div>
            <p>Hii! This is a blog-webpage.</p>
            <p>Join it when ready.</p>
            <p>This is home page!</p>
        </div>
    </section>


    <%- include('parts/footer.html') %>