<%- include('parts/header.ejs') %>


    <!-- home -->
    <section class="main-body">
        <div class="body">
            <div class="body-title">
                <h3>404</h3>
                <span>Your vary own companion for journaling and blogging.</span>
            </div>
            <div class="jurn">
                <h3>To Journal</h3>
                <span>go to <a href="/journal">journal</a></span>
            </div>
            <div class="blog">
                <h3>To Blog</h3>
                <span>go to <a href="/blog">blog</a></span>
            </div>
            <div class="sign">
                <a href="">login</a>
                <span> or </span>
                <a href="">sign up</a>
            </div>
        </div>
    </section>
    <span>This webpage provides a minimal & clean experience of journaling & blogging.</span>


    <%- include('parts/footer.ejs') %>