<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web</title>
    <link rel="stylesheet" href="styles/main.css">

</head>

<body>
    <!-- Header -->
    <section class="main-container">
        <div class="nav-btns">
            <a class="navbtn" id="main" href="/">Main</a>
            <a class="navbtn" id="about" href="/about">About</a>
            <a class="navbtn" id="links" href="/links">Links</a>
        </div>
        <div class="search-bar">
            <input class="search" type="text" placeholder="Search..">
            <a class="search-btn" href="" type="button">Search</a>
            <img src="images/ayano.jpeg">
        </div>
    </section>