/* ---  header  --- */

.main-head
{
    display: flex;
    justify-content: center;
    align-items: end;
    position: fixed;
    left: 0; 
    right: 0;
    top: 0;
    z-index: 100;
    margin-left: 1.27vw;
    margin-right: 1.27vw;
    height: 80px;
    border-radius:0 0 15px 15px;
    background-color: #967259;
}

.header 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 70px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    background-color: #dbc1ac;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.title
{
    display: flex;
    justify-content: start;
    align-items: center;
}
.title a
{
    text-decoration: none;
    color: #38220f;
    font-size: 1.8rem;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}
.title a:hover
{
    cursor: pointer;
    transform: scale(1.05);
}

.nav-btns 
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.nav-btn
{
    background-color: #967259;
    height: 2.5rem;
    width: 9rem;
    border-radius: 15px;
    align-content: center;
    font-size: 20px;
    text-align: center;
    color: #ece0d1;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}
.nav-btn:hover 
{
    background-color: rgba(83, 55, 31, 0.8);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.active 
{
    background-color: #38220f;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease;
}
.nav-btn.active:hover 
{
    background-color: rgba(56, 34, 15, 1);
    transform: scale(1.05);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 1);
}

.search-bar 
{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
}
.search-bar form
{
    display: flex;
    align-items: center;
    gap: 10px;
}

#search-icon 
{
    height: 25px;
    width: 25px;
    color: #38220f;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.4));
    transition: transform 0.3s ease;
}
#search-icon:hover
{
    cursor: pointer;
    transform: scale(1.05);
}

.search-box
{
    display: none;
    width: 0px;
    height: 30px;
    font-size: 1.2rem;
    border: none;
    border-bottom: 2px solid #38220f;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.4));
    outline: none;
    background: none;
    color: #38220f;
    opacity: 0;
    transition: width 1s linear, opacity 1s linear;
}
.search-box::placeholder
{
    color: #38220f;
}
.search-box.appear
{
    width: 200px;
    opacity: 1;
}

#login 
{
    color: #38220f;
    height: 30px;
    width: 30px;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.4));
    transition: transform 0.3s ease;
}
#login:hover 
{
    cursor: pointer;
    transform: scale(1.05);
}