body 
{
    /* background-color: #3d302d; */
    background-color: #967259;
}

.main-body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 1000px;
    border-radius: 15px;
}